.header{
        margin-left: 20px;
        margin-top: 25px;
    display: flex;
    justify-content: space-between;
    height: 35px;
    /* align-items: center; */
}

.header__left{
    /* margin-top: 5px; */
    display: flex;
        align-items: center;
        column-gap: 5px;
        background-color: gray;
    width: 200px;
    border-radius: 0.5em;
}

.header__right{
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: 200px;
}

.add_photo{
    display: flex;
    align-items: center;
    column-gap: 5px;
    background: linear-gradient(100deg, #E2336B 20%, #FCAC46);;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    height: 35px;
}